.app-home {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-home {
    height: 100vh;
    width: 100%;

    background-color: #282c34;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.description-home {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 47px;
}

.description-home :nth-child(2) {
    margin: 20px 0 0 0;

    color: white;
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 30px;
}

.description-home :nth-child(3) {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

.img-home img {
    width: 350px;
    height: 350px;
}

.btn-initial {
    width: 241px;
    height: 48px;

    background: #df85a6;
    border: 2px solid #df85a6;
    border-radius: 8px;
    color: #ffffff;

    font-weight: 500;
    font-size: 1.2rem;

    cursor: pointer;
}

.btn-initial:hover {
    background: #fd377e;
    border: 2px solid #fd377e;
}

.container-body-dash {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aside {
    width: 80%;
}

.container-dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-header-dash {
    width: 100%;

    display: flex;
    justify-content: center;

    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.container-header {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px;
}

.btn-initial-header {
    width: 180px;
    height: 48px;

    background: #f1ebee;
    border: 2px solid #f1ebee;
    border-radius: 8px;
    color: rgb(76, 72, 72);

    font-weight: 500;
    font-size: 1.2rem;

    cursor: pointer;
}

.btn-initial-header:hover {
    background: #f5b2d3;
    border: 2px solid #f5b2d3;
}

.form-home {
    width: 355px;
    height: 434px;

    border: 1px solid #e9ecef;
    border-radius: 4px;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-form {
    height: 407px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 10px;

    font-size: 1rem;
}

.input {
    width: 314px;
    height: 53px;

    background: #f8f9fa;
    border: 2px solid #f8f9fa;
    border-radius: 8px;

    color: #868e96;

    padding-left: 10px;
}

.span {
    color: #868e96;

    font-size: 1rem;
}

.box > select {
    width: 314px;
    height: 53px;

    background: #f8f9fa;
    border: 2px solid #f8f9fa;
    border-radius: 8px;

    color: #868e96;

    padding-left: 10px;
}

.btn-insert-value {
    width: 100%;
    height: 48px;

    background: #df85a6;
    border: 2px solid #df85a6;
    border-radius: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.btn-insert-value:hover {
    background: #fd377e;
    border: 2px solid #fd377e;
}

.box-result {
    height: 100px;
    border: 1px solid #e9ecef;
    border-radius: 4px;

    margin-top: 10px;
}

.result {
    display: flex;
    justify-content: space-between;

    padding: 10px;
}

.total-value-legend {
    font-size: 1rem;
    font-weight: 700;
    color: #212529;
}

.value {
    font-size: 1rem;
    font-weight: 700;
    color: #fd377e;
}

.box-result > span {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #343a40;
}

.box-filter {
    width: 355px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px;
}

.title {
    width: 56%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.no-card {
    width: 355px;
    margin-left: 10px;
}

.no-card > img {
    width: 90%;
    height: 90%;
}

.filter {
    width: 100%;
    display: flex;
}

.filter > button {
    height: 30px;
    background: #df85a6;
    border: 1.4px solid #df85a6;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.filter > button:hover {
    background: #fd377e;
    border: 1.4px solid #fd377e;
}

.list {
    width: 90%;
    height: 87px;
    background: #f8f9fa;
    border-radius: 4px;
    border-left: 4px solid #03b898;
    margin-bottom: 30px;
}

.list-negative {
    width: 90%;
    height: 87px;
    background: #f8f9fa;
    border-radius: 4px;
    border-left: 4px solid #919191;
    margin-bottom: 30px;
}

.list > ul {
    padding-left: 0;
}

.list-negative > ul {
    padding-left: 0;
}

.list > ul > li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

.list-negative > ul > li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

.div-one > p {
    font-weight: 700;
    font-size: 16px;
    color: #212529;
    margin-top: 5px;
}

.div-two > p {
    margin-top: 5px;
}
.div-tree {
    border: none;
    cursor: pointer;
}

.btn-trash {
    width: 22px;
    height: 22px;
    background: #e9ecef;
    border-radius: 2.46154px;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.div-one {
    display: flex;
    flex-direction: column;
}

.btn-nav-aside > button {
    height: 40px;
    padding: 0 10px;
    margin: 0 10px;
    background: #e9ecef;
    border: 1.4px solid #e9ecef;
    border-radius: 8px;
    color: #343a40;
    font-weight: 600;
    cursor: pointer;
}

.btn-nav-aside > button:hover,
.btn-nav-aside > button:focus {
    background: #fd377e;
    border: 1.4px solid #fd377e;
    border-radius: 8px;
    color: #ffffff;
}

.no-card {
    font-weight: 700;
    font-size: 22px;
    color: #343a40;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

@media (min-width: 768px) {
    .container-home {
        display: flex;
        flex-direction: row;
    }

    .container-body-dash {
        margin-top: 50px;
    }
}

@media (min-width: 980px) {
    .container-body-dash {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .no-card {
        width: 560px;
        margin-left: 10px;
    }

    .title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .list {
        width: 560px;
    }

    .list-negative {
        width: 560px;
    }

    .aside {
        width: 592px;
        margin-top: -333px;
    }
}

@media (min-width: 1047px) {
    .description-home {
        width: 400px;
        margin-left: 0;
    }

    .img-home img {
        width: 550px;
        height: 550px;
    }

    .no-card img {
        width: 645px;
    }

    .container-header {
        width: 1047px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container-body-dash {
        width: 1047px;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
}
