@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width:760px){
  .App {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .div-text {
    margin-top: 80px;
  }

  .imageDiv {
    width: 70%;
    margin-left: 10%;
  }

}

@media (max-width:1200px){
  .App {
    width: 100vw;
    display: flex;
    margin: 0 auto;
  }

  .div-text {
    margin-left: 80px;
  }

  .imageDiv {
    width: 70%;
    margin-left: 10%;
  }

  .div-master-header-home > div {
    width: 95%;
  }

  .div-master-nav-aside {
    width: 60%;
}
}

